body,
.App {
    color: #fff;
    background-color: #333333;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-family: 'Roboto', 'Noto Sans JP', sans-serif;
    min-height: 100vh;
}

input[type="text"] {
    background-color: #333333;
    border: none;
    color: #fff;
    margin: 0 20px 0 0;
    padding: 12px 20px;
    width: 500px;
    &:focus {
        outline: none;
    }
}

button {
    line-height: 0;
}

.card-bg {
    background-color: #1c1c1c;
}

.nav-bg {
    background-color: #1c1c1c;
}

.nav-form {
    margin-top: auto;
}